<template>
  <div class="card" @click="selectItem" :class="{ select: item.guessed }">
    <div class="card__wrap">
      <div class="card__back">{{ item.value }}</div>
      <div class="card__front">?</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    item: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    selectItem() {
      if (this.item.guessed) return;
      this.$emit("selectItem", this.item.id);
    },
  },
};
</script>

<style scoped lang="scss">
.card {
  perspective: 1000px;

  width: 100%;
  height: 100%;

  &__wrap {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  &:hover &__wrap {
    transform: scale(1.1);
  }

  &.select &__wrap {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 45px;
    line-height: 55px;
    border-radius: 10px;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.5);
  }

  &__front {
    background-color: #214f9c;
    // color: #fff;
  }

  &__back {
    transform: rotateY(180deg);
    background-color: #1d8e63;
    color: #fff;
  }
}
</style>
