<template>
  <div id="app">
    <Card
      :item="item"
      v-for="(item, index) in sortObject"
      :key="index"
      @selectItem="selectItem"
    />
  </div>
</template>

<script>
import Card from "./components/Card.vue";

export default {
  name: "App",
  components: {
    Card,
  },
  data() {
    return {
      values: [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8],
      sortObject: null,
      selectValue: null,
      notNow: false,
    };
  },
  mounted() {
    const sortArr = this.shuffle(this.values);
    this.sortObject = this.toObject(sortArr);
  },
  methods: {
    shuffle(array) {
      for (let i = 0; i < array.length - 1; i++) {
        let tmp = array[i];
        let rnd = Math.floor(Math.random() * (i + 1));

        array[i] = array[rnd];
        array[rnd] = tmp;
      }

      return array;
    },

    toObject(arr) {
      var rv = [];
      for (var i = 0; i < arr.length; ++i) {
        let obj = {
          id: i,
          value: arr[i],
          guessed: false,
        };
        rv.push(obj);
      }
      return rv;
    },

    selectItem(id) {
      if (!this.notNow) {
        if (this.selectValue !== null) {
          console.log(1);
          if (
            this.sortObject[id].value ===
            this.sortObject[this.selectValue].value
          ) {
            this.sortObject[id].guessed = true;
            this.selectValue = null;
          } else {
            this.notNow = true;
              this.sortObject[id].guessed = true;
            setTimeout(() => {
              this.notNow = false;
              this.sortObject[id].guessed = false;
              this.sortObject[this.selectValue].guessed = false;
              this.selectValue = null;
            }, 600);
          }
        } else {
          console.log(0);
          this.selectValue = id;
          this.sortObject[id].guessed = true;
        }
      }
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 150px);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
</style>
